// colors

$bgblack: #121214;
$lightgray: #F3F3F3;
$headerred: #5D0000;
$headerblue: #1167EF;
$headergreen: #27B460;
$headerorange: #FE8710;
$whitegradient: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);

$red: #FF5E5E;