* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #121214;
}

html {
  font-family: 'Arial', sans-serif;
  font-size: 62.5%;
}

a,
a:visited {
  color: inherit;
}

.header_upper {
  width: 100vw;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

.header_upper .first_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  gap: 2.6rem;
  padding: 10px 7px 12px;
}

.header_upper .first_list li {
  color: #1167EF;
  position: relative;
}

.header_upper .first_list li:nth-child(2) {
  color: #5D0000;
}

.header_upper .first_list li:nth-child(3) {
  color: #27B460;
}

.header_upper .first_list li:nth-child(4) {
  color: #FE8710;
}

.header_upper .second_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #121214;
  gap: 2.6rem;
  padding: 10px 7px 12px;
}

.header_lower {
  width: 100vw;
  height: 7.4rem;
  padding: 0 4rem;
  background-color: #5D0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header_lower .hamburger-and-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_lower .hamburger-and-logo .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 3rem;
  height: 2rem;
}

.header_lower .hamburger-and-logo .hamburger .line {
  width: 100%;
  height: 2px;
  background-color: white;
}

.header_lower .hamburger-and-logo .menu_left {
  font-size: 1.4rem;
  padding: 0 4rem 0 1rem;
}

.header_lower .hamburger-and-logo .logo {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 4rem;
  border-left: 1px white dotted;
}

.header_lower span {
  font-size: 3.2rem;
  text-transform: uppercase;
}

.header_lower .header_input {
  position: relative;
}

.header_lower .header_input i {
  font-size: 1.6rem;
  color: white;
  position: absolute;
  top: .8rem;
  left: .8rem;
}

.header_lower .header_input input {
  background-color: #470000;
  color: white;
  border: none;
  height: 3rem;
  padding: 0 4rem;
}

.hero {
  background-image: url("/img/bgpalco.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 85rem;
  height: 100vh;
  margin: auto;
  color: white;
}

.hero_container .hero_description {
  width: 50%;
  margin-left: 4rem;
}

.hero_container .hero_description .hero_tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_container .hero_description .hero_tittle p {
  font-size: 1.6rem;
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.hero_container .hero_description .hero_tittle p::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: .4rem;
  height: 100%;
  background-color: #FF5E5E;
}

.hero_container .hero_description .hero_tittle h1 {
  font-size: 5.6rem;
  margin-bottom: 4rem;
}

.hero_container .hero_description .hero_characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
}

.hero_container .hero_description .hero_characters a img {
  width: 16rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.hero_container .hero_description .hero_characters a img:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.hero_container .hero_img {
  width: 35%;
}

.hero_container .hero_img img {
  width: 100%;
}

.img_mosaic {
  max-width: 100rem;
  height: 100rem;
  margin: auto;
  border: 1px red solid;
}

.img_mosaic h2 {
  font-size: 5rem;
  color: white;
  position: relative;
  margin-left: 2rem;
}

.img_mosaic h2::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: .8rem;
  height: 100%;
  background-color: #FF5E5E;
}
/*# sourceMappingURL=main.css.map */