* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #121214;
}

html {
  font-family: 'Arial', sans-serif;
  font-size: 62.5%;
}

a,
a:visited {
  color: inherit;
}

.header_upper {
  width: 100vw;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

.header_upper .first_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  gap: 2.6rem;
  padding: 10px 7px 12px;
}

.header_upper .first_list li {
  color: #1167EF;
  position: relative;
}

.header_upper .first_list li:nth-child(2) {
  color: #EE353B;
}

.header_upper .first_list li:nth-child(3) {
  color: #27B460;
}

.header_upper .first_list li:nth-child(4) {
  color: #FE8710;
}

.header_upper .second_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #121214;
  gap: 2.6rem;
  padding: 10px 7px 12px;
}

.header_lower {
  width: 100vw;
  height: 7.4rem;
  padding: 0 4rem;
  background-color: #EE353B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header_lower .hamburger-and-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_lower .hamburger-and-logo .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 3rem;
  height: 2rem;
}

.header_lower .hamburger-and-logo .hamburger .line {
  width: 100%;
  height: 2px;
  background-color: white;
}

.header_lower .hamburger-and-logo .menu_left {
  font-size: 1.4rem;
  padding: 0 4rem 0 1rem;
}

.header_lower .hamburger-and-logo .logo {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 4rem;
  border-left: 1px white dotted;
}

.header_lower span {
  font-size: 3.2rem;
  text-transform: uppercase;
}

.header_lower .header_input {
  position: relative;
}

.header_lower .header_input i {
  font-size: 1.6rem;
  color: white;
  position: absolute;
  top: .8rem;
  left: .8rem;
}

.header_lower .header_input input {
  background-color: #C20D0D;
  border-radius: 5px;
  color: white;
  border: none;
  height: 3rem;
  padding: 0 4rem;
}

.hero {
  background-image: url("img/bgpalco.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 16rem;
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 95rem;
  height: 100vh;
  margin: auto;
  color: #ffffff;
}

.hero_container .hero_description {
  width: 50%;
  margin-left: 4rem;
}

.hero_container .hero_description .hero_tittle p {
  font-size: 1.6rem;
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.hero_container .hero_description .hero_tittle p::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: .8rem;
  height: 100%;
  background-color: #FF5E5E;
}

.hero_container .hero_description .hero_tittle h1 {
  font-size: 5rem;
  margin-bottom: 4rem;
}

.hero_container .hero_description .hero_characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
}

.hero_container .hero_description .hero_characters a img {
  width: 16rem;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 10rem;
}

.hero_container .hero_description .hero_characters a img:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0px 10px 8px 3px black;
          box-shadow: 0px 10px 8px 3px black;
}

.hero_container .hero_img {
  width: 45%;
}

.hero_container .hero_img img {
  width: 100%;
}

.img_mosaic {
  max-width: 100rem;
  height: auto;
  margin: auto;
  color: #ffffff;
}

.img_mosaic p {
  font-size: 2.4rem;
  width: 90%;
  margin: auto;
  text-align: center;
}

.img_mosaic p strong {
  color: #FF5E5E;
}

.img_mosaic h2 {
  font-size: 5rem;
  text-align: center;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.img_mosaic h2::before {
  content: "";
  position: absolute;
  top: -2rem;
  right: 45%;
  width: 5rem;
  height: .8rem;
  background-color: #FF5E5E;
}

.img_mosaic .img_gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1rem;
      grid-template-areas: 'img-1 img-2 img-3' 'img-1 img-4 img-5' 'img-6 img-7 img-5' 'img-8 img-9 img-10' 'img-8 img-11 img-14' 'img-13 img-12 img-14';
}

.img_mosaic .img_gallery a {
  width: 100%;
  height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
}

.img_mosaic .img_gallery a::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #202020;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, rgba(32, 32, 32, 0)), to(#121214));
  background: linear-gradient(180deg, rgba(32, 32, 32, 0) 45%, #121214 100%);
  -webkit-transition: .4s;
  transition: .4s;
}

.img_mosaic .img_gallery a:hover::before {
  height: 70%;
}

.img_mosaic .img_gallery a .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 100;
}

.img_mosaic .img_gallery a .tag .desc {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
  margin-right: 2rem;
}

.img_mosaic .img_gallery a .tag .desc .name {
  font-weight: bold;
}

.img_mosaic .img_gallery a .tag .sticker {
  width: 12rem;
}

.img_mosaic .img_gallery .img-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img-1;
  min-height: 71rem;
  background-image: url(img/mosaic/p01.jpg);
}

.img_mosaic .img_gallery .img-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-2;
  background-image: url(img/mosaic/p02.jpg);
}

.img_mosaic .img_gallery .img-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img-3;
  background-image: url(img/mosaic/p03.jpg);
}

.img_mosaic .img_gallery .img-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img-4;
  background-image: url(img/mosaic/p04.jpg);
}

.img_mosaic .img_gallery .img-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: img-5;
  min-height: 71rem;
  background-image: url(img/mosaic/p05.jpg);
}

.img_mosaic .img_gallery .img-6 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img-6;
  background-image: url(img/mosaic/p06.jpg);
}

.img_mosaic .img_gallery .img-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img-7;
  background-image: url(img/mosaic/p07.jpg);
}

.img_mosaic .img_gallery .img-8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img-8;
  min-height: 71rem;
  background-image: url(img/mosaic/p08.jpg);
}

.img_mosaic .img_gallery .img-9 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: img-9;
  background-image: url(img/mosaic/p09.jpg);
}

.img_mosaic .img_gallery .img-10 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: img-10;
  background-image: url(img/mosaic/p10.jpg);
}

.img_mosaic .img_gallery .img-11 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: img-11;
  background-image: url(img/mosaic/p11.jpg);
}

.img_mosaic .img_gallery .img-12 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: img-12;
  background-image: url(img/mosaic/p12.jpg);
}

.img_mosaic .img_gallery .img-13 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: img-13;
  background-image: url(img/mosaic/p13.jpg);
}

.img_mosaic .img_gallery .img-14 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: img-14;
  min-height: 71rem;
  background-image: url(img/mosaic/p14.jpg);
}

.img_mosaic .seemore_btn {
  width: 50%;
  height: auto;
  font-size: 2rem;
  text-align: center;
  margin: 4rem auto;
  padding: 1rem 0;
  background-color: #EE353B;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.img_mosaic .seemore_btn:hover {
  background-color: #FF5E5E;
}

footer {
  width: 100vw;
  margin-top: 16rem;
  background-color: #EE353B;
  color: #ffffff;
  padding: 8rem;
}

footer h3 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

footer .copy_right {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 55.5%;
  }
}

@media only screen and (max-width: 1080px) {
  html {
    font-size: 50.5%;
  }
}

@media only screen and (max-width: 880px) {
  html {
    font-size: 44.5%;
  }
  .header_upper {
    display: none;
  }
  .header_lower .hamburger-and-logo .menu_left {
    display: none;
  }
  .header_lower .hamburger-and-logo .logo {
    padding: 1rem;
    border: none;
  }
  .header_lower .header_input i {
    position: initial;
  }
  .header_lower .header_input input {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .hero .hero_container .hero_description {
    text-align: center;
  }
  .hero .hero_container .hero_description .hero_tittle p {
    font-size: 2.6rem;
    margin-bottom: 5rem;
  }
  .hero .hero_container .hero_description .hero_tittle p::before {
    bottom: -2rem;
    width: 5rem;
    height: .4rem;
    left: 45%;
  }
  .hero .hero_container .hero_description .hero_tittle h1 {
    font-size: 6rem;
  }
  .hero .hero_container .hero_description .hero_characters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img_mosaic .img_gallery {
    margin: 0 .8rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'img-1 img-2' 'img-3 img-4' 'img-5 img-6' 'img-7 img-8' 'img-9 img-10' 'img-11 img-12' 'img-13 img-14';
  }
  .img_mosaic .img_gallery .img-1, .img_mosaic .img_gallery .img-5, .img_mosaic .img_gallery .img-8, .img_mosaic .img_gallery .img-14 {
    min-height: initial;
  }
  .img_mosaic .seemore_btn {
    width: 90%;
  }
  footer .copy_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.6rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 680px) {
  .header_lower .hamburger-and-logo .logo {
    display: none;
  }
  .hero .hero_container .hero_description {
    width: 100%;
    margin: 0 2rem;
  }
  .hero .hero_container .hero_description .hero_characters a img {
    width: 22rem;
  }
  .hero .hero_container .hero_img {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .hero .hero_container .hero_description .hero_characters a img {
    width: 17rem;
  }
  .img_mosaic .img_gallery a .tag .desc {
    font-size: 1.4rem;
  }
  .img_mosaic .img_gallery a .tag .sticker {
    width: 8rem;
    height: 8rem;
  }
}
/*# sourceMappingURL=main.css.map */